*{margin: 0;padding: 0;box-sizing: border-box;}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: #BAA898;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEE0CB;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #839788;
    gap: 1rem;
}