@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;
font-family: 'Rubik Doodle Shadow', system-ui;;

}
header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAA898;
    font-family: 'EB Garamond', serif;
    font-weight: bold;

}
h1{
font-size: 40px;


}
.bevezeto{
    padding:15px ;
    font-size: 1rem;

}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
#jatekTer {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    padding: 15px;
    background-color: #eee0cb;
    border-radius: 10% 10% 0 0;

}
  
#jatekTer div {
    width: 100px;
    height: 100px;
    background-color: #BAA898;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    border-radius: 10%;
}

#jatekTer img{
width: 100px;
height: 100px;
border-radius: 10%;



} 

footer{
    background-color: #eee0cb;
margin: auto;
width: 460px;
padding: 15px;
border-radius: 0 0 10% 10%;
}

.reset{
float: right;



}
body{


    background-color: #aec6b4;
}

#ujrakezdes{


    width: 80px ;
    height: 50px;
    border: 10px;
    background-color: #bfd7ea;
}

#eredmenyek{


    background-color: #bfd7ea;
}

#logo{
height: 120px;
width: 140px;
float: left ;
position: absolute;
left: 10px;

}

#lenti{
width: 400px;
height: 150px;
margin-top: 4rem;
margin-bottom: 0;
border: 0;
padding-bottom: 0;
justify-content: center;
text-align: center;
margin-left: 45rem;
}

#paws{

    width: 400px;
    height: 250px;
float: right;


}

#sotet{

    height: 70px;
    width: 70px;
    float: right ;
    position: absolute;
    right: 10px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #776f6863;

}

.sotet header{
background-color: rgb(85, 72, 72);
color: rgb(0, 0, 0);

}

.sotet #eredmenyek , .sotet #ujrakezdes{


background-color: rgb(85, 72, 72);
color: rgb(0, 0, 0);
font-weight: bolder;


}

.sotet #jatekTer div{

background-color: rgb(69, 61, 61);


}

.sotet{
background-color: #797068;
color: rgb(21, 21, 20);
font-weight: bolder;

}

.sotet #jatekTer{

background-color: #93877e;


}

.sotet footer{
   background-color: rgb(85, 72, 72);



}